################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab1
/lab2
/labcode2/.vs/labcode2/v17/Browse.VC.opendb
